[push]
    default = simple

[alias]
    grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"

[diff]
    tool = vimdiff
    submodule = log
[merge]
    tool = vimdiff
[credential]
    helper = cache --timeout=2592000
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[core]
    attributesfile = ~/.gitattributes
